---
layout: page
---

<!-- Chinese Version -->
<div class="zh post-container">
    <%- page.content %>
</div>

<br>
<hr>
<br>
<div class="alert alert-info" role="alert">
    Leave your lovely comment below ^_^
</div>

<!-- valine -->
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
<script>
    new Valine({
        el:'#vcomments',
        appId: 'ld71aOoHttYMrEYndC0DMJQC-gzGzoHsz',
        appKey: '2odP1opK8R97ry76E2OHjR9N',
    })
</script>