<!DOCTYPE html>
<html lang="en" theme="light">

<!-- Head tag -->
<%- partial('_partial/head') %>

<!-- hack iOS CSS :active style -->

<body ontouchstart="">

    <%- partial('_partial/nav') %>

    <!-- Main Content -->
    <%- body %>

    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <a id="rocket" href="#top" class=""></a>
</body>

</html>